* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    margin-top: 150px;
}

header button {
    margin-left: 16px;
}

form {
    text-align: center;
    padding: 24px 0;
}

button {
    background-color: #0051ff;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 19px;
    justify-content: center;
    border: none;
}

body {
    background-color: rgb(142, 145, 146);
}

input {
    padding: 14.8px;
}

button {
    padding: 12px;
}

form button:hover {
    color: rgb(0, 0, 0);
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: red;
}

.tarefa-concluida {
    text-decoration: line-through;
    color: rgb(4, 82, 4);
}

h1 {
    font-size: 45px;
}